@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@font-face {
  font-family: "sus";
  src: url("../Astro-Space.otf");
}

:root {
  --red: #fa5837;
  --green: #0de7b9;
  --grey: #222222;
}

body {
  background-color: gray;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

header {
  width: calc(100% - 40px);
  max-width: 1500px;
  border-radius: 1vh;
  min-height: 70px;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1vh rgb(54, 54, 54);
  z-index: 10;
}

#nome {
  font-family: sus;
  position: absolute;
  left: 5%;
}

#contact {
  padding: 10px 40px;
  background-color: var(--red);
  color: white;
  border-radius: 1vh;
  position: absolute;
  right: 5%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact h1 {
  font-size: 15px;
  z-index: 1;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 30%;
  position: relative;
}

#options a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: black;
  height: 100%;
}

#options a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1%;
  height: 3px;
  background-color: transparent;
  transition: transform 0.2s;
}

#options a:hover::after {
  background-color: black;
  transform: scaleX(1000%);
}

#inicio {
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  background-image: url("../future-grid.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main {
  position: relative;
  width: 60%;
  text-align: center;
}

#bigname {
  color: var(--green);
  text-shadow: 0px 0px 8px var(--green);
  margin-top: 350px;
  font-size: 8vh;
  position: relative;
  overflow: hidden;
}

#subtitle {
  color: white;
  margin-top: 10px;
}

#socials {
  display: flex;
  width: 40%;
  width: 100%;
  justify-content: center;
  height: auto;
  margin-top: 40px;
}

.socials-button {
  display: flex;
  justify-content: center;
  background-color: var(--red);
  border-radius: 1vh;
  padding: 20px 0px;
  width: 37vh;
}

.change-lenguage {
  margin-top: 20px;
  background-color: #fa5837;
  padding: 10px;
  color: white;
  border-radius: 7px;
  font-weight: 600;
  border: none;
}

.change-lenguage:hover {
  background-color: #bb0000;
}

.socials-button img {
  width: 50px;
  z-index: 1;
}

.buttonn {
  overflow: hidden;
  position: relative;
}

.buttonn::after {
  content: "";
  z-index: 0;
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 1vh;
  height: 1vh;
  border-radius: 100%;
  background-color: transparent;
  transition: transform 0.7s;
}

.buttonn:hover::after {
  background-color: #bb0000;
  transform: scale(4000%);
}
.socials-button {
  margin-right: 1vh;
}

.downbutton {
  position: absolute;
  bottom: 8vh;
  height: 8vh;
  width: 8vh;
  border-radius: 100%;
  border: none;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: sobe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes sobe {
  0%,
  100% {
    bottom: 8vh;
  }
  50% {
    bottom: 11vh;
  }
}

.material-icons {
  text-align: center;
  z-index: 2;
  color: white;
}

#sideimage {
  position: absolute;
  width: 52vh;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#hamburger {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5%;
  display: none;
  align-items: center;
  justify-content: center;
}
#hamburger i {
  font-size: 50px;
  color: black;
}

#sideicon {
  height: 70px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

#options a:last-child {
  display: none;
  color: white;
  background-color: #dd2020;
  border-radius: 1vh;
}

#projetos {
  background-color: var(--green);
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#project-title {
  padding-top: 10vh;
  color: var(--grey);
  font-size: 10vh;
  justify-self: center;
  position: relative;
}

#secbt {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

#secbt:hover::after {
  background-color: rgb(8, 8, 177);
}

#containerP {
  padding-top: 10vh;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projeto {
  width: 300px;
  background-color: white;
  box-shadow: 0 0 40px rgba(26, 26, 26, 0.815);
  margin-top: 3vh;
  height: fit-content;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1vh;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.projeto:last-child {
  margin-bottom: 25vh;
}

.projeto img {
  width: 96%;
  margin-top: 2%;
  position: relative;
  border-radius: 1vh;
}

.projeto:hover {
  transform: scale(107%);
  box-shadow: 0 0 40px black;
}

.projeto .projcont {
  text-align: center;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #ffffff;
  transform: translateY(75%);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projeto:hover .projcont {
  transform: translateY(10%);
}

.textos-projeto {
  width: 90%;
}

.projeto .textos-projeto p {
  display: none;
  color: #000853;
  text-align: center;
}
.projeto:hover .textos-projeto p {
  display: block;
}

.projcont h2 {
  padding-top: 10px;
  width: 90%;
  color: #0f1b85;
}

.projeto:first-child::after {
  content: "NOVO";
  border-radius: 0.5vh;
  top: 20px;
  right: -3px;
  position: absolute;
  color: white;
  font-size: 15px;
  padding: 0.5vh;
  background-color: #bb0000;
}

.project-buttons {
  width: 90%;
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: none;
}

.projeto:hover .project-buttons {
  display: flex;
}

.project-button {
  height: 6vh;
  border-radius: 0.5vh;
  width: 40%;
  background-color: var(--grey);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tags {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tag {
  border-radius: 0.3vh;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}

#dots {
  display: flex;
  font-size: 80px;
  position: absolute;
  bottom: 8vh;
}

.dot {
  animation-name: updown;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes updown {
  0%,
  100% {
    bottom: 8vh;
  }
  50% {
    transform: translateY(-3vh);
  }
}

#dots .dot:nth-child(1) {
  animation-delay: 0s;
}

#dots .dot:nth-child(2) {
  animation-delay: 0.3s;
}

#dots .dot:nth-child(3) {
  animation-delay: 0.6s;
}

#aboutme {
  width: 100%;
  min-height: 100vh;
  color: white;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

#aboutme-flex {
  position: relative;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#sobremim {
  width: 400px;
  height: 400px;
}

#sobremim h1::after,
#tecnologias h1::after {
  content: "";
  background-color: var(--red);
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 0;
  height: 0.3vh;
}

#sobremim h1 {
  font-size: 40px;
  width: 100%;
  color: var(--red);
  position: relative;
}

#sobremim p {
  font-size: 20px;
  margin-top: 2vh;
}

#fotoP img {
  width: 400px;
}

#tecnologias {
  margin-top: 2vh;
  width: 80%;
  max-height: 300px;
}

#tecnologias h1 {
  position: relative;
  font-size: 40px;
  color: var(--red);
}

#icones-tec {
  margin-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#icones-tec div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#icones-tec div:hover div {
  background-color: var(--red);
  display: inherit;
}
#icones-tec div div {
  position: absolute;
  width: 100%;
  display: none;
  margin-bottom: 0;
  border-radius: 5px;
}

#icones-tec div {
  padding: 5px;
  margin-bottom: 20px;
}

#icones-tec i{
  font-size: 8vh;
}

::-webkit-scrollbar {
  width: 0;
}

#contato {
  background-color: var(--red);
  height: auto;
  position: relative;
}

#contato form {
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contato h1 {
  color: var(--grey);
  font-size: 50px;
}

#contato input,
textarea {
  width: 60%;
  margin-top: 4vh;
  border: none;
  border-radius: 1vh;
  box-shadow: 0 0 10px black;
  padding-left: 1vh;
}

#contato input {
  height: 30px;
}

#contato textarea {
  height: 100px;
}

#contato button {
  margin-top: 4vh;
  background-color: var(--grey);
  color: white;
  font-size: 20px;
  padding: 1vh;
  border: none;
  border-radius: 0.5vh;
}

@media (max-width: 1500px) {
  #fotoP {
    padding-top: 12vh;
  }

  #fotoP img {
    width: 100%;
  }

  #aboutme-flex {
    width: 90%;
  }
  #sobremim {
    height: auto;
    padding-top: 3vh;
    width: 100%;
  }

  #tecnologias {
    padding-top: 3vh;
    padding-bottom: 12vh;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  #containerP {
    padding-top: 3vh;
  }
}

@media (max-width: 1000px) {
  #options a:last-child {
    display: block;
  }

  header {
    align-items: baseline;
  }

  #hamburger {
    display: flex;
  }

  #options,
  #contact {
    display: none;
  }

  #options {
    height: 100%;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 3vh;
    width: 100%;
    transition: display 1s;
  }

  #options a::after {
    display: none;
  }

  .option {
    padding: 2vh;
  }

  #bigname {
    margin-top: 200px;
    margin-left: 0;
  }

  #socials {
    margin-left: 0;
    width: 100%;
  }

  #subtitle {
    margin-left: 0;
  }

  #project-title {
    font-size: 8vh;
  }
}

@media (max-width: 600px) {
  #project-title {
    font-size: 7vh;
  }
}

@media (max-width: 500px) {
  #options {
    flex-direction: column;
  }

  #nome {
    font-size: 2.5vh;
  }
  #main {
    width: 80%;
  }
  #bigname {
    font-size: 7vh;
  }
  #project-title {
    font-size: 6vh;
  }
}

@media (max-width: 400px) {
  #sobremim h1 {
    font-size: 30px;
  }
  #contato h1 {
    font-size: 30px;
  }
  #project-title {
    font-size: 30px;
  }

  #sobremim p {
    font-size: 15px;
  }
  #tecnologias h1 {
    font-size: 20px;
  }

  #icones-tec i {
    font-size: 4vh;
  }
}

@media (max-height: 770px) {
  #bigname {
    margin-top: 200px;
  }
}

@media (max-height: 510px) {
  #bigname {
    margin-top: 130px;
  }
}
